body {
    background-color: #d6e2f0;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    width: 300px;
    padding: 1em 0;
    border-radius: 1.5em;
    background-color: #ffffffb6;

    box-shadow: 1px 1px  15px #0003;
}

.qr-code-image {
    width: 260px;
    height: 260px;

    border-radius: 1em;
}

.qr-code-text {
    padding: 0 2em;
}

.qr-code-text h1 {
    font-size: 1.3em;
    font-weight: 700;
}

.qr-code-text p {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.5;
}